.search_container {
    display: inline-flex;
    width: 35%;
    min-width: 250px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 30px;
}

.search_form {
    display: flex;
    height: 100%;
    width: 100%;
}

.search_nav_bar {
    width: 100%;
    height: 44px;
    padding: 0 0 0 5px;
    font-size: 16px;
    background-color: transparent;
    box-shadow: 0 0 0;
    border-radius: 0;
    border: none;
    color: black;
}

.search_nav_bar::placeholder {
    color: gray;
    font-weight: 400;
    letter-spacing: 1.1;
}

.search_icon {
    font-size: 20px;
    position: relative;
    color: black;
    float: left;
    padding: 0px 5px 0px 15px;
    display: flex;
    align-items: center;
}

.spot_filters_list {
    display: flex;
    justify-content: space-evenly;
}

.spot_filter_button {
    border: 1px solid lightgray;
}

.search_bar_main {
    width: 80%;
    height: 10vh;
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    margin-top: 4%;
    margin-bottom: 5%;
}

.search_bar {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
    color: black;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 1.1;
}

.search_bar::placeholder {
    color: gray;
    font-weight: 400;
    letter-spacing: 1.1;
}

.search_button {
    border: 3px solid #40d9ac;
    height: 100%;
    width: 25%;
    min-width: 85px;
    background: #40d9ac;
    color: #ffffff;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
}

.search_button:hover {
    border: 3px solid #40d9ac;
    background-color: #ffffff;
    color: #40d9ac;
    width: 25%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 18px;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
    cursor: pointer;
}

.search_bar_icon {
    position: relative;
    color: black;
    float: left;
    padding: 0px 15px 0px 15px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

@media (min-width: 701px) and (max-width: 1024px) {
    .search_container {
        display: none;
    }

    .search_bar_main {
        height: 10vh;
        margin: 7% 0%;
    }

    .search_bar {
        font-size: 1em;;
    }

    .search_button {
        font-size: 1em;;
    }

    .search_bar_icon {
        font-size: 1em;;
    }
}

@media (max-width: 700px) {
    .search_container {
        display: none;
    }

    .search_bar_main {
        margin: 7% 0%;
        width: 90%;
        height: 7vh;
    }

    .search_bar {
        font-size: .7em;;
    }

    .search_button {
        font-size: .7em;;
    }

    .search_button:hover {
        font-size: .7em;
    }

    .search_bar_icon {
        font-size: .7em;;
    }
}