.spot_search_container {
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 1024px;
    background-color: #fff;
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
    flex-direction: column;
}

.spot_index {
    left: 0;
    top: 13.5%;
    height: 73vh;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background-color: #fff;
    overflow: scroll;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-top: 10px;
}

.spot_index_item {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 360px;
}

.spot_index_item_link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.spot_index_item:nth-child(odd) {
    padding-right: 10px;
}

.spot_index_photo {
    width: 100%;
    height: 60%;
}

.spot_details {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    overflow: auto;
}

.map {
    right: 0;
    bottom: 10px;
    height: 81vh;
    width: 45%;
    position: absolute;
    height: 73vh;
}

.spot_details_title {
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px;
    width: 98%;
}

.spot_details_body {
    color: $font-color;
    padding: 5px;
    width: 98%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .9em;
}

.spot_details_price {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    padding: 5px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.spot_details_reviews {
    color: $font-color;
    font-weight: 400;
    font-size: .8rem;
}

.infowindow-title {
    text-align: center;
}

.infowindow-price {
    text-align: center;
}

.spot_filters_header {
    width: 100%;
    margin: 0 auto;
}

.spot_filters_container {
    display: flex;
    border: $border;
    width: 100%;
    background-color: #FDFDFD;
}

.spot_filter_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    margin: 10px 0px 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #fff;
    border: $border;
    border-radius: 2px;
    cursor: pointer;

    button {
        padding: 10px;
        height: 100%;

        img {
            height: 36px;
            width: 36px;   
        }
    }

    &:hover {
        border: 1px solid #000;
    }
}

.spot_filter_section:last-child {
    margin-right: 10px;
}

.spot_filter_item {
    width: 130px;
    position: absolute;
    top: 63px;
    z-index: 3;
    padding: 10px;
    border: $border;
    background-color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        border: $border;
        margin: 5px 0px 5px 0px;
        position: relative;

        @include flex-center();
    
        img {
            width: 32px;
            height: 32px;
            padding-right: 10px;
        }

        &:hover {
            border: 1px solid #000;
        }
    }
}

.active_filter_button {
    display: block;
    border: 1px solid $primary-color;
    background: $primary-color;
    height: 80%;
    width: 80%;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

#map-container {
    @include medium {
        position: relative;
        bottom: 0;
        height: 45vh;
        width: 99%;
        margin: 0 auto;
        margin-top: 4%;
    }

    @include large {
        position: relative;
        bottom: 0;
        height: 45vh;
        width: 99%;
        margin: 0 auto;
        margin-top: 4%;
    }
}

@media (min-width: 701px) and (max-width: 1024px) {
    .spot_search_container {
        min-width: 0;
    }

    .spot_search_main {
        display: flex;
        flex-direction: column-reverse;
    }

    .map {
        bottom: 10px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .spot_filter_section {
        height: 45px;
        font-size: .6em;
        flex: 1;
    }   

    .spot_filter_section > button {
        height: 45px;
        font-size: 1.3em;
        padding: 5px;
        width: 100%;
    }

    .spot_filter_item > button {
        height: 45px;
        font-size: .4em;
        padding: 5px;
    }

    .spot_index {
        width: 100%;
        height: 100%;
    }

    .spot_index_item {
        padding: 5px;
        width: 50%;
    }

    .spot_index_item:nth-child(odd) {
        padding-right: 5px;
    }

    .spot_index_photo {
        height: 70%;
    }

    .spot_details {
        height: 30%;
    }
}

@media (max-width: 700px) {
    .spot_search_container {
        min-width: 90%;
    }

    .spot_search_main {
        display: flex;
        flex-direction: column-reverse;
    }

    .map {
        bottom: 10px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .spot_filter_section {
        height: 45px;
        font-size: .6em;
        flex: 1;
    }

    .spot_filter_section > button {
        width: 100%;
    }

    .spot_filter_item > button {
        height: 45px;
        font-size: .4em;
        padding: 5px;
        width: 100%;
    }

    .spot_index {
        width: 100%;
        height: 100%;
    }

    .spot_index_item {
        padding: 5px;
        width: 100%;
    }

    .spot_index_item:nth-child(odd) {
        padding-right: 5px;
    }

    .spot_index_photo {
        height: 70%;
    }

    .spot_details {
        height: 30%;
    }
}

@media (max-width: 320px) {
    .spot_search_container {
        min-width: 95%;
    }

    .spot_filter_section {
        margin: 1%;
    }

    .spot_filter_section button {
        padding: 2px;
    }

    .spot_filter_section:last-child {
        margin-right: 1%;
    }
}