.spot_main_section {
    display: flex;
    flex-direction: column;

    @include large {
        margin-bottom: 200px;
    }

    @include medium {
        margin-bottom: 200px;
    }
  }

.spot_page {
    width: 75%;
    margin-left: 12.5%;
    display: flex;

    @include large {
        width: 100%;
        margin: 0 auto;
    }
}

.spot_div_main {
    width: 70%;

    @include large {
        width: 90%;
        margin: 0 auto;
    }

    @include medium {
        width: 100%;
    }
}

.spot_div {
    padding: 20px 40px 20px 20px;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
}

.spot_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    border-bottom: $border;
}

.spot_body {
    font-size: .9rem;
    line-height: 2;
    overflow-wrap: break-word;
    width: 70%;
    min-width: 250px;
    margin: 0 auto;

    @include large {
        min-width: 0px;
    }
}

.spot_div_info {
    height: 340px;
    width: 26%;
    min-width: 180px;
    padding: 15px;
    border-bottom: $border;
    box-shadow: 0px 0px 3px #ebebeb;
    border: $border;
    margin: 2% 1% 1% 1%;

    @include large {
        width: 30%;
    }

    @include medium {
        width: 90%;
    }
}

.spot_div_details {
    font-size: .9rem;
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;

    @include large {
        padding: 0px;
    }
}

.spot_title {
    font-size: 2.3rem;
    font-weight: 700;

    @include large {
        font-size: 1.7rem;
    }
}

.spot_section_title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.spot_subsection {
    li {
        font-size: 16px;
        
        img {
            margin-top: 5px;
        }
    }
}

#spot_details {
    display: flex;
    justify-content: space-between;
}

.spot_detail_header {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 20px 0px 0px;

    @include large {
        width: 30%;
    }
}

#spot_details_subsection {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 70%;

    @include large {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 70%;
    }
}

span {
    img {
        width: 24px;
        height: 24px;
    }

    p {
        padding-bottom: 10px;
    }
}

.spot_index_parent {
    justify-content: center;
    width: 28%;
}

.spot_index_spot {
    width: 100%;
    padding-bottom: 35px;
}
.spot_index_photo {
    height: 100%;
    width: 100%;
}

.index_photo_title {
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.1px;
}

.spot_index_header {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.spot_index_spot {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.index_spots {
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    flex-basis: 320px;
    justify-content: center;
    border: $border;
    border-bottom: $border;
    box-shadow: 0px 0px 3px #ebebeb;
    margin: 10px;
}

.spot_index_spots_img {
    display: flex;
}

.delete_spot_button {
    padding: 0px 10px 0px 10px;
    border: $border;
    border-radius: 5px;
    font-weight: 600;

    &:hover {
        background-color: $primary-color;
        font-weight: 600;
        color: #fff;
        border: #fff;
    }
}

.hosted_container {
    font-size: 1rem;
    line-height: 2;
    padding-right: 20px;
    width: 30%;
}

.hosted_by_title {
    font-weight: 600;
    min-width: 80px;
}

.host_name {
    color: $font-color;
    font-weight: 400;
}

.booked_spots_trips {
    line-height: 2;
    border-bottom: 3px solid #ebebeb;

    &:hover {
        cursor: pointer;
        border-bottom: 3px solid $primary-color;
    }
}

.booked_spots_trips_active {
    line-height: 2;
    cursor: pointer;
    border-bottom: 3px solid $primary-color;
}

.spot_index_empty {
    font-size: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include large {
        & .spot_index {
            overflow: hidden;
        }
    }
}