.user_profile_container {
    width: 100%;
}

.user_profile_sidebar {
    background-color: white;
    width: 30%;
}

.bio_panel {
    // width: 280px;
    margin-top: 10px;
    min-width: 200px;
    padding: 20px;
    border: 1px solid #ebebeb;
    font-weight: 400;
    font-size: .9em;
}

.bio_panel span {
    padding-right: 10px;
    width: 14px;
}

.panel_body {
    margin-top: 20px;
    min-width: 200px;
    padding: 20px;
    border: 1px solid #ebebeb;
    padding-right: 10px;
    font-size: .9em;
}

.panel_body span {
    padding-right: 10px;
    width: 14px;
}

.bio_panel h3 {
    font-weight: 400;
    font-size: .9em;
}

.panel_body h3 {
    font-weight: 400;
    font-size: .9em;
}

#bio_panel_name {
    font-weight: 700;
    font-size: 1.2em;
}

#panel_body_header {
    font-weight: 600;
    color: #757575;
}

.user_profile_booking_status {
    margin: 0px 50px;
}

.user_profile_greeting {
    font-weight: 700;
    font-size: 1.7em;
}

.user_bookings_header {
    padding: 20px 0px 0px 20px;
    font-weight: 700;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
}

.booked_spots_list {
    display: flex;
    height: 100%;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 50px;
}

.booked_spot_items {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    width: 100%;
    // min-width: 540px;
    margin: 0px 0px 20px 0px;
}

.booking_delete_button {
    margin-left: auto;
    padding-right: 20px;
}

.booking_delete_button:hover {
    font-weight: 700;
}

.user_link_index {
    border-bottom: 1px solid #ebebeb;
}

.user_link_index:hover {
    border-bottom: 1px solid black;
}

.user_status_header {
    padding: 20px;
}

//user bookings display
.user_booking_spot {
    display: flex;
    width: 70%;
    min-width: 870px;
    margin: 0 auto;
    margin-top: 5%;
}

.user_booking_spot_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 15% 8% 15%;
}

.user_booking_spot_section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.user_booking_spot_item {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 2% 1% 2% 1%;
    min-width: 270px;
    min-height: 300px;
    height: 300px;
}

.user_booking_spot_item_info {
    display: block;
    position: relatve;
    width: 100%;
    height: 80px;
    border: 1px solid #ebebeb;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user_booking_title {
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 20px;
}

.user_booking_dates {
    padding: 20px 0px 0px 20px;
    display: flex;
}

.widget_guests {
    display: flex;
} 

.widget_guests > a {
    font-weight: 700;
}

.booking_num_guests {
    width: 55%;
    text-align: center;
}

.booking_img {
    width: 24vh;
    min-width: 240px;
    min-height: 144px;
    height: 14.4vh;

    // width: 30vh;
    // min-width: 300px;
    // min-height: 200px;
    // height: 20vh;
}

.user_booking_details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.user_booking_details > p {
    padding: 10px;
}

.user_booking_subheader {
    font-weight: 600;
}