.foot_div {
    background-image: image_url("footer_img.png");
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    min-height: 350px;
    background-color: #41305c;
    // background-image: url(/assets/footer_img-411ad28….png);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-position-y: 100%, 100%;
}

.foot_div_section {
    padding: 30px 0px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.foot_description {
    width: 40%;
    margin-top: 30px;
    position: relative;
    left: 4.5%;
}

.foot_description_title {
    color: #70539f;
    font-size: 13px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
}

.foot_description_text {
    font-family: "Helvetica, sans-serif";
    color: white;
    font-size: 13px;
    text-align: left;
    line-height: 1.8;
}

.foot_social {
    width: 40%;
    color: white;
    margin: 30px;
    position: relative;
    left: 7%;
}

.foot_social_title {
    color: #70539f;
    text-align: left;
}

.foot_social_text {
    color: white;
    font-size: 10px;
    text-align: left;
    line-height: 1.8;
}

.social_link {
    font-family: "Helvetica, sans-serif";
    color: white;
    font-size: 13px;
}

.social_link_li {
    margin-bottom: 10px;
}

a > i {
    font-family: sans-serif;
}

.foot_bottom {
    background-color: #3e7e96;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: white;
}   

.pull-left {
    padding-top: 7px;
    margin: 0 auto;
}

.pull-right {
    padding-top: 7px;
    margin: 0 auto;
}