.host_option_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 5%;
}

.host_spot_options {
    border: 1px solid black;
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 10px;
}

.active_button{
    display: block;
    border: 1px solid black;
    background: #40d9ac;
    height: 80%;
    width: 80%;
    padding: 10px;
}

.host_spot_options > img {
    border: 1px solid black;
}

.form_signup_button {
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #40d9ac;
    border: 2px solid white;
    font-weight: 600;
}

.form_signup_button:hover {
    cursor: pointer;
    border: 2px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

.host_options_title {
    font-weight: 700;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}

.form-group {
    margin: 0 auto;
    width: 100%;
}

.form-group-options {
    width: 30%;
    margin: 5px;
    padding-bottom: 1px;
}

.form_signup {
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

#check_in {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}