.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.6)
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_footer1 {
    font-size: 14px;
    margin-bottom: 10px;
}

.modal_footer2 {
    font-size: 12px;
    margin-bottom: 10px;
    margin: 2px;
}

.modal_signin {
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
  }

  .modal_signin:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  .modal_table {
    display: flex;
    flex-flow: row;
    flex-direction: space-around;
    width: 89%;
    margin: 0 auto;
  }

  .modal_table1 {
      width: 46%;
      padding-right: 10px;
  }

  .modal_table2 {
      width: 46%;
      padding-left: 10px;
  }