.nav_logged_in_logout {
    margin-top: 10px;
      display: inline-block;
      color: #333331;
      border: 0px;
      width: 70px;
      height: 25px;
      padding-bottom: 12px;
      font-size: 14px;
      font-weight: 100px;
      font-family: "Calibre", Helvetica, Arial, sans-serif;
  }
  
  .nav_logged_in_logout:hover {
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  
  .nav_host {
      display: flex;
      align-items: center;
      width: 65%;
      height: 40px;
      margin-top: 10px;
      font-size: .9em;
      align-content: center;
      border-bottom: 1px solid rgb(216, 216, 216);
      margin: 0 auto;
  }
  
  .nav_host:hover {
    font-weight: 700;
  }

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.dropdown_modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.dropdown_modal-child {
    position: absolute;
    top: 60px;
    right: 90px;
    height: 100px;
    width: 100px;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
#drop_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 150px;
    min-height: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#drop_menu a {
    color: black;
    text-decoration: none;
}
  
.dropdown:hover #drop_menu {display: block;}
  
#menu_section {
    position: absolute;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 4px 4px 2px #888888;
    right: -65px;
    background-color: white;
    margin-right: 5px;
    z-index: 1;
}

.modal_footer1 {
    font-size: 14px;
    padding-bottom: 10px;
}

.modal_footer2 {
    font-size: 14px;
    margin-top: 35px;
    margin-top: 5%;
}

.modal_footer2_sub {
    margin-top: 2%;
    padding-bottom: 10px;
}

.modal_signin {
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    line-height: 3;
    line-height: 14px;
}

.modal_signin:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.modal_table {
    display: flex;
    flex-flow: row;
    flex-direction: space-around;
    width: 95%;
    margin: 0 auto;
}

.modal_table1 {
      width: 50%;
}

.modal_table2 {
      width: 50%;
}

.session_error_message {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
}

@media (max-width: 700px) {
    .dropdown {
        padding-right: 15px;
    }

    .dropdown_modal-child {
        right: 75px;
    }
}