.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_footer1 {
    font-size: 14px;
    padding-bottom: 10px;
}

.modal_footer2 {
    font-size: 14px;
    margin-top: 35px;
    margin-top: 5%;
}

.modal_footer2_sub {
    margin-top: 2%;
    padding-bottom: 10px;
}

.modal_signin {
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    line-height: 3;
    line-height: 14px;
}

.modal_signin:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.modal_table {
    display: flex;
    flex-flow: row;
    flex-direction: space-around;
    width: 89%;
    margin: 0 auto;
}

.modal_table1 {
      width: 48%;
      padding-right: 10px;
}

.modal_table2 {
      width: 48%;
      padding-left: 10px;
}

.session_error_message {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
}