.spot_review_container {
    display: flex;
    padding: 20px 0px 0px 20px;
}

.review_header {
    display: flex;
    width: 100%;
}

.create_review_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.review_spot_title {
    font-weight: 700;
    font-size: 1.5em;
}

.review_description {
    margin: 25px;
    padding: 10px;
    color: black;
    border-radius: 1px;
    resize: none;
    line-height: 1.9;
}

.review_description:placeholder-shown {
    padding: 10px;
}

.create_review_submit {
    border: 3px solid #40d9ac;
    height: 50px;
    width: 250px;
    background: #40d9ac;
    color: white;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto
}

.create_review_submit:hover {
    border: 3px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    padding: 0.5rem;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
    cursor: pointer;
    margin: 0 auto
}

.review_title {
    width: 70%;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.review_submit_button {
    text-align: right;
    border: 3px solid #40d9ac;
    height: 30px;
    width: 140px;
    min-width: 140px;
    background: #40d9ac;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_submit_button:hover {
    border: 3px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews_container {
    padding: 20px;
}

.review-index-item {
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.review-item-values {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-user-name {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.delete-edit-review {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-review-button {
    text-align: end;
    width: 55px;
    height: 100%;
    margin-left: 10px;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
}

.delete-review-button:hover {
    font-weight: 700;
}

.review_name {
    font-weight: 600;
}

.review_date {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
}

@media (max-width: 700px) {
    .create_review_form {
    margin-top: 10%;
    }

    .review_form {
        width: 100%;
        margin-top: 3%;
    }

    .create_review_submit {
        width: 87%;
    }
}
