.splash_subtitle1 {
    font-weight: 700;
    font-size: 41px;
    padding-bottom: 20px;
    width: 80%;
    text-align: left;
    margin-left: 10%;  
    margin-top: 5%; 
}

.splash_subtitle2 {
    font-weight: 300;
    font-size: 19px;
    width: 80%;
    text-align: left;
    margin-left: 10%; 
    line-height: 1.4;
}

.splash_subtitle3 {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-bottom: 2%;
}

.splash_main {
    width: 100%;
    text-align: center;
    // position: relative;
    top: 20px;
}

.splash_main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 15% 8% 15%;
}

.splash_section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.index_section {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 2% 1% 2% 1%;
    min-width: 260px;
    min-height: 300px;
}

.index_section:hover {
    cursor: pointer;
}

.index_section > img {
    display: flex;
    width: 100%;
    height: 80%;
}

.index_section_container {
    display: block;
    position: relatve;
    width: 100%;
    height: 80px;
    border: 1px solid #ebebeb;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div > h3 {
    text-align: left;
    display: block;
    margin: 0;
    letter-spacing: 1.1px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.index_section_subheader {
    text-align: left;
    display: block;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 7px;
    box-sizing: border-box;
    width: 100%;
}