.spot_page {
    width: 35%;
    padding-top: 10px;
    margin-left: 22%;
}

// .main-class {
//     // display: flex;
//     // justify-content: center;
// }

.spot_div_main {
    width: 100%;
}

.spot_div {
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
}

.spot_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.spot_body {
    line-height: 2;
}

.spot_div_info {
    flex-basis: 180px;
    height: 340px;
    width: 26%;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px #ebebeb;
    margin-top: 15px;
    border: 1px solid #ebebeb;
}

.spot_div_details {
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
}

.spot_title {
    font-size: 6vh;
    font-weight: 700;
}

.spot_section_title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
}

.spot_subsection > li {
    font-size: 16px;
}

.spot_subsection > li > img {
    margin: 5px 0px 0px 0px;
}

#spot_details {
    display: flex;
    justify-content: space-between;
}

#spot_details_subsection {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

span > img {
    width: 24px;
    height: 24px;
}

.spot_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    text-align: center;
}

.spot_index_parent {
    flex: 0 0 33%;
}

.spot_index_spot {
    width: 100%;
    padding-bottom: 35px;
}
.spot_index_photo {
    height: 100%;
    width: 100%;
}

.index_photo_title {
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.1px;
}

.spot_index_header {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.spot_index_spot {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.index_spots {
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    flex-basis: 320px;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px #ebebeb;
    margin: 10px;
}

.spot_index_spots_img {
    display: flex;
}

.spot_index_container {
    margin-top: 5%;
    margin-left: 14%;
    width: 90%;
}

.booking_widget {
    position: absolute;
    top: 55%;
    width: 319px;
    height: 228px;
    left: 61%;
    z-index: 19;
    background: white;
    border: 1px solid #ebebeb;
}

.widget_subsection {
    display: flex;
    justify-content: center;
    height: 69px;
}

.widget_price {
    border: 1px solid #ebebeb;
    height: 73px;
    padding: 10px 0px 0px 10px;
}

.widget_checkin {
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 10px 0px 0px 10px;
}

.widget_checkout {
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 10px 0px 0px 10px;
}

.widget_guests {
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 10px 0px 0px 10px;
}
      
.widget_booking {
    border: 1px solid #ebebeb;
    height: 72px;
}

.widget_button {
    background-color: #40d9ac;
    height: 51px;
    width: 289px;
    margin: 10px 0px 0px 15px;;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.widget_button:hover {
    background-color: white;
    transition: background-color 0.2s ease 0s; 
    height: 51px;
    width: 289px;
    margin: 10px 0px 0px 15px;;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    color: #40d9ac;
    font-weight: 700;
    border: 3px solid #40d9ac;
}

