.spot_search_container {
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 1024px;
    background-color: white;
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
    flex-direction: column;
}

.spot_index {
    left: 0;
    top: 13.5%;
    height: 73vh;
    width: 55%;
    // min-width: 700px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background-color: white;
    overflow: scroll;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-top: 10px;
}

.spot_index_item {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 360px;
}

.spot_index_item_link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.spot_index_item:nth-child(odd) {
    padding-right: 10px;
}

.spot_index_photo {
    width: 100%;
    height: 60%;
}

.spot_details {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    overflow: auto;
}

.map {
    right: 0;
    bottom: 10px;
    height: 81vh;
    width: 45%;
    position: absolute;
    height: 73vh;
}

.spot_details_title {
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px;
    width: 98%;
}

.spot_details_body {
    color: #757575;
    padding: 5px;
    width: 98%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .9em;
}

.spot_details_price {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    padding: 5px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.spot_details_reviews {
    color: #757575;
    font-weight: 400;
    font-size: .9em;
}

.infowindow-title {
    text-align: center;
}

.infowindow-price {
    text-align: center;
}

.spot_filters_header {
    width: 100%;
    margin: 0 auto;

}

.spot_filters_container {
    display: flex;
    border: 1px solid #ebebeb;
    width: 100%;
    background-color: #FDFDFD;
}

.spot_filter_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    margin: 10px 0px 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    cursor: pointer;
}

.spot_filter_section > button > img {
    height: 36px;
    width: 36px;
}

.spot_filter_section:hover {
    border: 1px solid black;
}

.spot_filter_section:last-child {
    margin-right: 10px;
}

.spot_filter_section > button {
    padding: 10px;
    height: 100%;
}

.spot_filter_item {
    width: 130px;
    position: absolute;
    top: 63px;
    z-index: 3;
    padding: 10px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spot_filter_item > button {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #ebebeb;
    margin: 5px 0px 5px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot_filter_item > button:hover {
    border: 1px solid black;
}

.spot_filter_item > button > img {
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

.active_filter_button {
    display: block;
    border: 1px solid #40d9ac;
    background: #40d9ac;
    height: 80%;
    width: 80%;
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

@media (max-width: 700px) {
    .spot_search_container {
        min-width: 0;
    }

    .spot_search_main {
        display: flex;
        flex-direction: column-reverse;
    }

    .map {
        bottom: 10px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .spot_filter_section {
        height: 45px;
        font-size: .6em;
    }

    .spot_filter_item > button {
        height: 45px;
        font-size: .4em;
        padding: 5px;
    }

    .spot_index {
        width: 100%;
        height: 100%;
    }

    .spot_index_item {
        padding: 5px;
        width: 100%;
    }

    .spot_index_item:nth-child(odd) {
        padding-right: 5px;
    }

    .spot_index_photo {
        height: 70%;
    }

    .spot_details {
        height: 30%;
    }
}

@media (min-width: 701px) and (max-width: 1024px) {
    .spot_search_container {
        min-width: 0;
    }

    .spot_search_main {
        display: flex;
        flex-direction: column-reverse;
    }

    .map {
        bottom: 10px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .spot_filter_section {
        height: 45px;
        font-size: .6em;
    }

    .spot_filter_item > button {
        height: 45px;
        font-size: .4em;
        padding: 5px;
    }

    .spot_index {
        width: 100%;
        height: 100%;
    }

    .spot_index_item {
        padding: 5px;
        width: 50%;
    }

    .spot_index_item:nth-child(odd) {
        padding-right: 5px;
    }

    .spot_index_photo {
        height: 70%;
    }

    .spot_details {
        height: 30%;
    }
}