.spot_form_container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 65%;
    min-width: 350px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 5%;
}

.spot_form_main {
    height: 100%;
    width: 50%;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, .5) 0px 5px 5px;
}

.host_photo {
    width: 75px;
    height: 75px;
}

.spot_form_message {
    width: 30%;
    min-width: 215px;
    height: 100%;
    background-color: white;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    padding: 20px;
    font-size: 1em;
}

.host_message_header {
    margin-bottom: 20px;
    display: flex;
}

.host_message_details {
    margin-left: 20px;
}

.host_message_name {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.host_message p {
    margin-bottom: 11px;
}

.host_message_email {
    font-weight: 600;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.host_message_email:hover {
    border-bottom: 1px solid black;
}

.form {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-group {
    margin: 0 auto;
    width: 100%;
}

.form_header {
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}

.form_title {
    margin: 0 auto;
}

.spot_form {
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.form_questions {
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.spot_form_input {
    background-color: white;
    width: 27%;
    height: 100px;
}

.spot_form_button {
    background-color: white;
    width: 27%;
    height: 100px;
}

.spot_form_field {
    width: 40%;
}

.spot_form_buttons {
    width: 40%;
}

.form_group_title {
    text-align: left;
     font-weight: 700;
     font-size: 1.25em;
}

.form-control {
    height: 45px;
    border: 1px solid rgb(235, 235, 235);
    padding: 0px 0px 0px 10px;
    width: 100%;
    margin: 10px 0px 20px 0px;
    font-weight: 400;
    letter-spacing: 1.1;
    font-size: 14px;
    color: black;
    background-color: white;
}

.form-control::placeholder {
    color: gray;
    font-weight: 500;
    letter-spacing: 1.1;
    font-size: 14px;
}

.form_control_description {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    margin: 10px 0px 20px 0px;
    line-height: 1.5;
    text-align: start;
}

.form_control_description > input::placeholder {
    color: gray;
    font-weight: 500;
    letter-spacing: 1.1;
    font-size: 14px;
}

.form_control_description >:placeholder-shown {
    font-weight: 700;
    font-size: 16px;
    color: rgb(117, 117, 117);
}

textarea {
     color: black;
     font-weight: 500;
     letter-spacing: 1.1;
     font-size: 1em;
     resize: none
}

.previous_button {
    width: 80px;
    height: 30px;
    border: 2px solid #40d9ac;
    letter-spacing: 1.1px;
    font-size: .8em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 5px;
    background: #40d9ac;
    color: white;
}

.next_button {
    width: 80px;
    height: 30px;
    border: 2px solid #40d9ac;
    letter-spacing: 1.1px;
    font-size: .8em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 5px;
    background: #40d9ac;
    color: white;
}

.prev_next_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.next_button:hover {
    width: 80px;
    border: 2px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    font-weight: 700;
    font-size: .8em;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

.previous_button:hover {
    width: 80px;
    border: 2px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    font-weight: 700;
    font-size: .8em;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

.create_spot_form {
    display: flex;
}

#submitPhotoReminder {
    margin-top: 2px;
    font-size: 10px;
    font-weight: 600;
}

.photo_upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.photo_upload + label {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 12px;
    transition: border 0.4s;
    margin-left: 3.4%;
}

.photo_upload + label:hover {
    border: 1px solid gray;
}

.fa-camera {
    color: black;
    padding-right: 3px;
    font-size: 0.9em;
}

@media (max-width: 700px) {
    .spot_form_container {
        width: 100%;
    }

    .spot_form_main {
        width: 80%;
        margin-top: 5%;
        margin: 0 auto;
    }

    .spot_form_message {
        display: none;
    }

    .form_group_title {
        font-size: 1em;
    }

    .next_button {
        font-size: .8em;
    }

    .previous_button {
        font-size: .8em;
    }

    .photo_upload + label {
        font-size: .6em;
        padding: 6px;
    }
}

@media (min-width: 701px) and (max-width: 1024px) {
    .spot_form_container {
        flex-direction: column;
    }

    .spot_form_main {
        width: 100%;
        margin-top: 50px;
    }

    .spot_form_message {
        width: 100%;
        min-width: 215px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
        padding: 20px;
        font-size: 1em;
        margin: 0;
    }
}
