.spot_page {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
}

.spot_div_main {
    width: 70%;
}

.spot_div {
    padding: 20px 40px 20px 20px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
}

.spot_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #ebebeb;
}

.spot_body {
    line-height: 2;
    overflow-wrap: break-word;
    width: 70%;
    min-width: 250px;
    margin: 0 auto;
}

.spot_div_info {
    height: 340px;
    width: 26%;
    min-width: 180px;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px #ebebeb;
    border: 1px solid #ebebeb;
    margin: 2% 1% 1% 1%;
}

.spot_div_details {
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
}

.spot_title {
    font-size: 2.7em;
    font-weight: 700;
}

.spot_section_title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
}

.spot_subsection > li {
    font-size: 16px;
}

.spot_subsection > li > img {
    margin: 5px 0px 0px 0px;
}

#spot_details {
    display: flex;
    justify-content: space-between;
}

.spot_detail_header {
    font-weight: 600;
    padding: 5px 20px 0px 0px;
}

#spot_details_subsection {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

span > img {
    width: 24px;
    height: 24px;
}

span > p {
    padding-bottom: 10px;
}

.spot_index_parent {
    justify-content: center;
    width: 28%;
}

.spot_index_spot {
    width: 100%;
    padding-bottom: 35px;
}
.spot_index_photo {
    height: 100%;
    width: 100%;
}

.index_photo_title {
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.1px;
}

.spot_index_header {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.spot_index_spot {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.index_spots {
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    flex-basis: 320px;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px #ebebeb;
    margin: 10px;
}

.spot_index_spots_img {
    display: flex;
}

.delete_spot_button {
    padding: 0px 10px 0px 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-weight: 600;
}

.delete_spot_button:hover {
    background-color: #40d9ac;
    font-weight: 600;
    color: white;
    border: white;
}

.widget_container {
    position: relative;
    height: 200px;
    width: 319px;
    z-index: 1;
    background-color: white;
    top: -60px;
}

.booking_widget {
    position: relative;
    width: 339px
}

.booking_banner {
    min-height: 50px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.3em;
    font-weight: 700;
    color: #333333;
}

#widget_per_night {
    font-size: .6em;
    font-weight: 400;
    color: gray;
}

.booking_well {
    z-index: 1;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    transition: top 0.3s ease 0s;
    min-height: 20px;
}

.well_dates_guests {
    min-height: 50px;
    background-color: white;
    border: 1px solid #ebebeb;
    font-weight: 400;
    line-height: 1.42;
    color: #333333;
    display: flex;
}

.label {
    display: block;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    font-size: .9rem;
    color: #333333;
    font-weight: 600;
}

.value {
    white-space: nowrap;
    font-size: .9rem;
}

.booking_checkin {
    width: 38%;
    border-right: 1px solid #ebebeb;
    padding: 10px;
    transition: background-color 0.3s ease 0s;
}

.booking_checkout {
    width: 38%;
    border-right: 1px solid #ebebeb;
    padding: 10px;
    transition: background-color 0.3s ease 0s;
}

.booking_guests {
    width: 24%;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease 0s;
}

.booking_submit {
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.widget_button {
    width: 100%;
    padding: 10px 15px;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    border: 3px solid #40d9ac;
    background-color: #40d9ac;
    color: white;
}

.widget_button:hover {
    cursor: pointer;
    border: 2px solid #40d9ac;
    background-color: white;
    color: #40d9ac;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
}

.hosted_container {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
}

.hosted_by_title {
    font-weight: 600;
    min-width: 80px;
}

.host_name {
    color: #757575;
    font-weight: 400;
}