.spot_search_container {
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    height: 70vh;
}

.spot_index {
    left:0;
    top:0;
    height:88vh;
    width:45%;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background-color: white;
    overflow: scroll;
    box-sizing: border-box;
    justify-content: center;
}

.spot_index_item {
    padding: 0px 15px 25px 25px;
    display: flex;
    flex-wrap: wrap;
}

.spot_index_item_link {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.spot_index_photo {
    width: 480px;
    height: 260px;
}

.spot_details {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 480px;
}

.map {
    right:0;
    top:0;
    height:88vh;
    width:55%;
    position: absolute;
}

.spot_details_title {
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
}

.spot_details_body {
    color: #757575;
    padding: 5px;
}

.spot_details_price {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    padding: 5px;
}